Source: raspberrypi-net-mods
Section: net
Priority: extra
Maintainer: Serge Schneider <serge@raspberrypi.org>
Build-Depends: debhelper (>= 8.0.0), dh-systemd (>= 1.5)
Standards-Version: 3.9.6

Package: raspberrypi-net-mods
Architecture: all
Depends: ${misc:Depends}, dhcpcd5 (>= 6.10.1-1+rpi2)
Description: Network configuration for the Raspberry Pi UI
