[Unit]
Description=Copy user wpa_supplicant.conf
ConditionPathExistsGlob=/boot/wpa_supplicant.conf{,.txt}
Before=dhcpcd.service
After=systemd-rfkill.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/raspberrypi-net-mods/rpnm.sh
ExecStartPost=/bin/chmod 600 /etc/wpa_supplicant/wpa_supplicant.conf
ExecStartPost=/usr/sbin/rfkill unblock wifi

[Install]
WantedBy=multi-user.target
